version: 0.1.0.{build}

branches:
  except:
    - gh-pages

skip_tags: true

skip_commits:
  message: \[(ci skip|skip ci)\].*

clone_depth: 50

test: off

build_script:
  - cmd: build.cmd

cache:
  - packages -> paket.lock
  - paket-files -> paket.lock
