source https://api.nuget.org/v3/index.json
source https://www.nuget.org/api/v2/

nuget FSharp.Core

group Build
  source https://api.nuget.org/v3/index.json

  nuget FAKE
  nuget Nuget.CommandLine
  nuget SourceLink.Fake
  nuget FAKE.Persimmon
  nuget Persimmon.Console = 2.0.1-alpha4

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://api.nuget.org/v3/index.json

  nuget Persimmon = 2.0.1-alpha4

  gist pocketberserker/1c919217eb95a03ee942fdfd094a4927 assertSeqEquals.fs
